html,
body {
  height: 100vh;
}

.wrapper {
  height: 100%;
  min-height: 100%;
}

.nav-link.active {
  color: #003f84;
}

.social-list {
  font-size: 0;
}

@media (min-width: 768px) {
  body,
  html {
    font-size: 17px;
  }
  .table-sm th,
  .table-sm td {
    padding: .75rem;
  }
}

@media (min-width: 992px) {
  body,
  html {
    font-size: 18px;
  }
}

.main-nav__list {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
}

.main-nav__btn {
  position: absolute;
  bottom: -47px;
  right: 20px;
  z-index: 10;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  transform: translateY(-190px);
}

.main-nav__btn::before, .main-nav__btn::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  width: 20px;
  height: 2px;
  margin-left: -10px;
  background-color: #000000;
  transform: rotate(-45deg);
}

.main-nav__btn::after {
  transform: rotate(45deg);
}

.main-nav__btn--closed {
  transform: translateY(0px);
}

.main-nav__btn--closed::before {
  top: 10px;
  transform: rotate(0deg);
  background-color: #ffffff;
}

.main-nav__btn--closed::after {
  top: 26px;
  background-color: #ffffff;
  box-shadow: 0 -8px 0 0 #ffffff;
  transform: rotate(0deg);
}

.main-nav__btn--closed + .main-nav__list {
  display: none;
}

.main__home-hello {
  font-size: 5rem;
}

.main__home-name,
.main__home-dev {
  font-size: 1.7rem;
}

.main__home {
  height: 100%;
  min-height: 100%;
}

.main__about-me {
  padding-top: 70px;
}

.main__about-photo {
  width: 60px;
  height: 60px;
  top: 0;
  left: 50%;
  margin-left: -30px;
  background-image: url("../images/my-photo.jpg");
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__home-title--icon::before,
.main__about-title--icon::before,
.main__projects-title--icon::before,
.main__contacts-title--icon::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 13px;
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main__home-title--icon::before {
  background-image: url("../images/home-icon.svg");
}

.main__about-title--icon::before {
  background-image: url("../images/about-icon.svg");
}

.main__contacts-title--icon::before {
  background-image: url("../images/contacts-icon.svg");
}

.main__projects-title--icon::before {
  background-image: url("../images/projects-icon.svg");
}

.main__contacts-form--icon-user::after,
.main__contacts-form--icon-email::after,
.main__contacts-form--icon-msg::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 12px;
  width: 15px;
  height: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main__contacts-form--icon-user::after {
  background-image: url("../images/user-icon.svg");
}

.main__contacts-form--icon-email::after {
  background-image: url("../images/email-icon.svg");
}

.main__contacts-form--icon-msg::after {
  background-image: url("../images/msg-icon.svg");
}

@media (min-width: 768px) {
  .main__home-hello {
    font-size: 6rem;
  }
  .main__home-name,
  .main__home-dev {
    font-size: 2.2rem;
  }
  .social-list__icon {
    width: 35px;
    height: 35px;
  }
  .main__about-me {
    padding-top: 90px;
  }
  .main__about-photo {
    width: 80px;
    height: 80px;
  }
  .main__contacts-form-btn {
    width: 250px;
    max-width: 250px;
  }
  .main__home-title--icon::before,
  .main__about-title--icon::before,
  .main__projects-title--icon::before,
  .main__contacts-title--icon::before {
    width: 28px;
    height: 28px;
  }
  .main__contacts-form--icon-user::after,
  .main__contacts-form--icon-email::after,
  .main__contacts-form--icon-msg::after {
    width: 18px;
    height: 18px;
    top: 45px;
    left: 6px;
  }
}

@-webkit-keyframes arrow-up {
  100% {
    opacity: 0;
    transform: translateY(-15px) rotate(-45deg);
  }
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

@keyframes arrow-up {
  100% {
    opacity: 0;
    transform: translateY(-15px) rotate(-45deg);
  }
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

@-webkit-keyframes opacity-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes opacity-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacity-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.scrollup {
  width: 50px;
  height: 50px;
  bottom: 150px;
  right: 10vw;
  opacity: 0;
}

.scrollup::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 5px;
  right: 15px;
  border-top: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  -webkit-animation-name: arrow-up;
          animation-name: arrow-up;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform-origin: center;
  transform: rotate(-45deg);
}

.scrollup--show {
  -webkit-animation-name: opacity-on;
          animation-name: opacity-on;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.scrollup--hide {
  -webkit-animation-name: opacity-off;
          animation-name: opacity-off;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
