.footer {

   &__inner {
      max-width: 1480px;
      margin: 0 auto;
      padding: 20px;
   }

   &__socials {
      display: flex;
      justify-content: center;
      margin: 0;
   }

   &__social {
      margin-right: 15px;
      outline: none;

      &:hover .footer__social-icon,
      &:focus .footer__social-icon {
         fill: var(--secondary-color);
         transform: scale(1.2);
      }

      &-icon {
         width: 25px;
         height: 25px;
         fill: var(--base-color);
         transition: all 0.2s ease-out;
      }

      & span {
         @include hidden;
      }

      &:last-child {
         margin-right: 0;
      }
   }
}

@media (min-width: 576px) {
   .footer {

      &__inner {
         padding: 40px 20px;
      }
   }
}