.header {

   &--no-js {
      & .header__btn-menu--open {
         display: none;
      }

      & .header__list {
         display: block;
      }
   }

   &__inner {
      position: relative;
      background-image: url("/images/header-pattern.png");
      background-color: var(--bg-color2);
   }

   &__navigation {
      @include inner;
      position: relative;
      min-height: 90px;
      padding: 20px;
   }

   &__title {
      @include hidden;
   }

   &__list {

      &--closed {
         display: none;
      }
   }

   &__link {
      display: block;
      width: 100%;
      font-size: 25px;
      margin-bottom: 10px;
      color: var(--white-color);
      text-align: center;
      outline: none;
      transition: color 0.2s ease-out;

      &:hover,
      &:focus {
         color: var(--secondary-color);
         text-decoration: none;
      }

      &:last-child {
         margin-bottom: 0;
      }
   }

   &__btn-menu {
      @include btn;
      position: absolute;
      top: 20px;
      right: 20px;
      width: 50px;
      height: 50px;

      &:hover,
      &:focus {

         &::before,
         &::after {
            transition: all 0.4s linear;
         }
      }

      &::before,
      &::after {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         width: 30px;
         height: 2px;
         background-color: var(--white-color);
         transform: translate(-50%, -50%) rotate(45deg);
         box-shadow: none;
      }

      &::after {
         transform: translate(-50%, -50%) rotate(-45deg);
      }

      &--open {

         &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 30px;
            height: 2px;
            background-color: var(--white-color);
            transform: translate(-50%, -50%);
            box-shadow:
               0 10px 0 0 var(--white-color),
               0 -10px 0 0 var(--white-color);
         }

         &::after {
            transform: translate(-50%, -50%);
         }
      }

      & span {
         @include hidden;
      }
   }

   &__promo {
      display: flex;
      flex-direction: column;
      padding: 20px;
      padding-bottom: 60px;
      border-top: 1px solid var(--white-color);
   }

   &__name {
      margin-bottom: 20px;
      font-size: 50px;
      text-align: center;
      color: var(--white-color);
   }

   &__info {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      padding: 5px 10px;
      font-weight: 500;
      font-size: 25px;
      color: var(--white-color);
      background-color: var(--secondary-color);
      list-style-position: inside;
   }

   &__lang {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 30px;
      text-align: center;
      color: var(--white-color);

      &-text {
         width: 100%;
      }

      &-line {
         margin: 0 10px;
      }

      &-link {
         font-size: 25px;
         color: var(--white-color);
         transition: color .2s ease-out;

         &:hover,
         &:focus {
            outline: 0;
            color: var(--secondary-color);
            text-decoration: none;
         }
      }
   }

   &__theme {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
   }

   &__arrow {
      position: absolute;
      left: 50%;
      bottom: 80px;
      display: none;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: var(--secondary-color);
      outline: 0;
      transform: translateX(-50%);
      transition: box-shadow 0.4s ease-out;

      &:hover,
      &:focus {
         box-shadow: 0px 0px 10px 5px var(--secondary-color);
      }
   }
}

@media (min-width: 576px) {
   .header {

      &__inner {
         height: 100vh;
      }

      &__navigation {
         min-height: auto;
      }

      &__list {
         display: flex !important;
         flex-wrap: wrap;
         max-width: 576px;
         margin: 0 auto;
      }

      &__link {
         width: 50%;
      }

      &__promo {
         align-items: flex-start;
         padding: 20px;
      }

      &__info {
         flex-direction: row;
         list-style-position: outside;
         list-style-type: "/";

         & li {
            padding-right: 20px;
            padding-left: 5px;

            &:first-child {
               padding-left: 0;
               list-style-type: none;
            }

            &:last-child {
               padding-right: 0;
            }
         }
      }

      &__name {
         text-align: left;
      }

      &__btn-menu {
         display: none;
      }

      &__lang {
         display: block;
         text-align: left;

         &-text {
            margin-right: 10px;
         }

         &-line {
            margin: 0;
         }
      }

      &__arrow {
         display: block;
         bottom: 60px;
      }
   }
}

@media (min-width: 1024px) {
   .header {

      &__navigation {
         padding-top: 20px;
         padding-bottom: 20px;
      }

      &__list {
         justify-content: flex-end;
         max-width: none;
      }

      &__link {
         width: auto;
         margin-bottom: 0;
         margin-right: 25px;

         &:last-child {
            margin-right: 0;
         }
      }

      &__promo {
         padding-top: 200px;
         padding-left: 150px;
      }
   }
}