.loader {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100vw;
   height: 100vh;
   background-color: var(--bg-color1);

   &__item {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 200px;
      margin-top: -100px;
      margin-left: -100px;
      transform-style: preserve-3d;
      transform: rotateX(80deg) rotateY(0deg);

      &:nth-child(1) {
         &::after {
            content: "";
            position: absolute;
            height: 40px;
            width: 40px;
            background-color: var(--base-color);
            border-radius: 50%;
            transform: rotateX(-80deg) rotateY(0);
            box-shadow: 0 0 25px var(--base-color);
            animation: light 2s infinite linear;
            left: 50%;
            top: 50%;
            margin-top: -20px;
            margin-left: -20px;
         }
      }

      &:nth-child(2) {
         width: 250px;
         height: 250px;
         margin-top: -125px;
         margin-left: -125px;
      }

      &:nth-child(3) {
         width: 300px;
         height: 300px;
         margin-top: -150px;
         margin-left: -150px;
      }

      &:nth-child(4) {
         width: 350px;
         height: 350px;
         margin-top: -175px;
         margin-left: -175px;
      }

      &:nth-child(2) .loader__point {
         width: 250px;
         height: 250px;
         animation-delay: -6s;
         animation-duration: 4s;

         &::after {
            width: 10px;
            height: 10px;
            animation-duration: 4s;
            animation-delay: -6s;
         }
      }

      &:nth-child(3) .loader__point {
         width: 300px;
         height: 300px;
         animation-duration: 6s;
         animation-delay: -4s;

         &::after {
            width: 15px;
            height: 15px;
            animation-duration: 6s;
            animation-delay: -4s;
         }
      }

      &:nth-child(4) .loader__point {
         width: 350px;
         height: 350px;
         animation-duration: 8s;
         animation-delay: -2s;

         &::after {
            width: 20px;
            height: 20px;
            animation-duration: 8s;
            animation-delay: -2s;
         }
      }
   }

   &__point {
      position: relative;
      width: 200px;
      height: 200px;
      transform-style: preserve-3d;
      animation-name: rotate-item;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      &::after {
         content: "";
         position: absolute;
         top: -5px;
         left: 50%;
         width: 5px;
         height: 5px;
         margin-left: -5px;
         border-radius: 50%;
         background-color: var(--base-color);
         box-shadow: 0 0 12px var(--base-color);
         animation-name: rotate-point;
         animation-duration: 2s;
         animation-iteration-count: infinite;
         animation-timing-function: linear;
      }
   }
}