.main__home {
   background-image: url("../imgmin/background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.main__home-hello {
   font-size: 5rem;
}

.main__home-name,
.main__home-dev {
   font-size: 1.7rem;
}

.wrapper,
.main__home {
   height: 100%;
   min-height: 100%;
}

.social-list {
   font-size: 0;
}

.footer__logo {
   fill: white;
}

.header__logo,
.footer__logo {
   width: 60px;
   height: 60px;
}

.main__about-me {
   padding-top: 70px;
}

.scroll-up {
   width: 50px;
   height: 50px;
   bottom: 150px;
   right: 10vw;
   opacity: 0;
}

.opacity-on {
   animation-name: opacity-on;
   animation-duration: 1s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}

.opacity-off {
   animation-name: opacity-off;
   animation-duration: 1s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}

.scroll-up::before {
   content: "";
   position: absolute;
   width: 20px;
   height: 20px;
   bottom: 5px;
   right: 15px;
   border-top: 4px solid #ffffff;
   border-right: 4px solid #ffffff;
   animation-name: arrow-up;
   animation-duration: 1.8s;
   animation-iteration-count: infinite;
   animation-fill-mode: forwards;
   transform-origin: center;
   transform: rotate(-45deg);
}

.main__about-photo {
   width: 60px;
   height: 60px;
   top: 0;
   left: 50%;
   margin-left: -30px;
   background-image: url("../imgmin/my-photo.jpg");
   background-position: center 0%;
   background-repeat: no-repeat;
   background-size: cover;
}

.main__home-title--icon::before,
.main__about-title--icon::before,
.main__projects-title--icon::before,
.main__contacts-title--icon::before {
   content: "";
   position: absolute;
   top: 15px;
   left: 13px;
   width: 25px;
   height: 25px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.main__home-title--icon::before {
   background-image: url("../imgmin/symbols.svg#home-icon");
}

.main__about-title--icon::before {
   background-image: url("../imgmin/about-icon.svg");
}

.main__contacts-title--icon::before {
   background-image: url("../imgmin/contacts-icon.svg");
}

.main__projects-title--icon::before {
   background-image: url("../imgmin/projects-icon.svg");
}

.main__contacts-form--icon-user::after,
.main__contacts-form--icon-email::after,
.main__contacts-form--icon-msg::after {
   content: "";
   position: absolute;
   left: 6px;
   top: 12px;
   width: 15px;
   height: 15px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.main__contacts-form--icon-user::after {
   background-image: url("../imgmin/user-icon.svg");
}

.main__contacts-form--icon-email::after {
   background-image: url("../imgmin/email-icon.svg");
}

.main__contacts-form--icon-msg::after {
   background-image: url("../imgmin/msg-icon.svg");
}

@media (min-width: 768px) {

   body,
   html {
      font-size: 17px;
   }

   .header__logo,
   .footer__logo {
      width: 65px;
      height: 65px;
   }

   .main__home-hello {
      font-size: 6rem;
   }

   .main__home-name,
   .main__home-dev {
      font-size: 2.2rem;
   }

   .social-list__icon {
      width: 35px;
      height: 35px;
   }

   .main__about-me {
      padding-top: 90px;
   }

   .main__about-photo {
      width: 80px;
      height: 80px;
   }

   .main__contacts-form-btn {
      width: 250px;
      max-width: 250px;
   }

   .main__home-title--icon::before,
   .main__about-title--icon::before,
   .main__projects-title--icon::before,
   .main__contacts-title--icon::before {
      width: 28px;
      height: 28px;
   }

   .main__contacts-form--icon-user::after,
   .main__contacts-form--icon-email::after,
   .main__contacts-form--icon-msg::after {
      width: 18px;
      height: 18px;
      top: 45px;
      left: 6px;
   }
}

@media (min-width: 992px) {

   body,
   html {
      font-size: 18px;
   }

   .header__logo,
   .footer__logo {
      width: 70px;
      height: 70px;
   }

   .main__home-hello {
      font-size: 6.5rem;
   }

   .main__home-name,
   .main__home-dev {
      font-size: 3rem;
   }

   .main__about-me {
      padding-top: 110px;
   }

   .main__about-photo {
      width: 100px;
      height: 100px;
   }

   .main__home-title--icon::before,
   .main__about-title--icon::before,
   .main__projects-title--icon::before,
   .main__contacts-title--icon::before {
      width: 30px;
      height: 30px;
   }

   .main__contacts-form--icon-user::after,
   .main__contacts-form--icon-email::after,
   .main__contacts-form--icon-msg::after {
      width: 20px;
      height: 20px;
      top: 48px;
      left: 5px;
   }
}

@keyframes arrow-up {
   100% {
      opacity: 0;
      transform: translateY(-15px) rotate(-45deg);
   }

   0% {
      opacity: 0;
   }

   20% {
      opacity: 1;
   }

}

@keyframes opacity-on {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@keyframes opacity-off {
   0% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}