body,
html {
   font-size: 20px;
   line-height: 1.4;
   font-family: "Rubik", "Arial", sans-serif;
   color: var(--base-color);
   background-color: var(--bg-color1);
   scroll-behavior: smooth;
   overflow-x: hidden;
}