.header__navigation {
   position: relative;
}

@media (min-width: 992px) {
   .header__navigation {
      position: fixed;
      top: 50%;
      left: 0;
      z-index: 100;
      transform: translateY(-50%);

      &::before {
         content: "";
         position: absolute;
         top: 50%;
         right: -54px;
         border: 27px solid transparent;
         border-left-color: #000000;
         transform: translateY(-50%);
      }
   }
}