.main__home-hello {
   font-size: 5rem;
}

.main__home-name,
.main__home-dev {
   font-size: 1.7rem;
}

.main__home {
   height: 100%;
   min-height: 100%;
}

.main__about-me {
   padding-top: 70px;
}

.main__about-photo {
   width: 60px;
   height: 60px;
   top: 0;
   left: 50%;
   margin-left: -30px;
   background-image: url("../images/my-photo.jpg");
   background-position: center 0%;
   background-repeat: no-repeat;
   background-size: cover;
}

.main__home-title--icon::before,
.main__about-title--icon::before,
.main__projects-title--icon::before,
.main__contacts-title--icon::before {
   content: "";
   position: absolute;
   top: 15px;
   left: 13px;
   width: 25px;
   height: 25px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.main__home-title--icon::before {
   background-image: url("../images/home-icon.svg");
}

.main__about-title--icon::before {
   background-image: url("../images/about-icon.svg");
}

.main__contacts-title--icon::before {
   background-image: url("../images/contacts-icon.svg");
}

.main__projects-title--icon::before {
   background-image: url("../images/projects-icon.svg");
}

.main__contacts-form--icon-user::after,
.main__contacts-form--icon-email::after,
.main__contacts-form--icon-msg::after {
   content: "";
   position: absolute;
   left: 6px;
   top: 12px;
   width: 15px;
   height: 15px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.main__contacts-form--icon-user::after {
   background-image: url("../images/user-icon.svg");
}

.main__contacts-form--icon-email::after {
   background-image: url("../images/email-icon.svg");
}

.main__contacts-form--icon-msg::after {
   background-image: url("../images/msg-icon.svg");
}

@media (min-width: 768px) {
   .main__home-hello {
      font-size: 6rem;
   }

   .main__home-name,
   .main__home-dev {
      font-size: 2.2rem;
   }

   .social-list__icon {
      width: 35px;
      height: 35px;
   }

   .main__about-me {
      padding-top: 90px;
   }

   .main__about-photo {
      width: 80px;
      height: 80px;
   }

   .main__contacts-form-btn {
      width: 250px;
      max-width: 250px;
   }

   .main__home-title--icon::before,
   .main__about-title--icon::before,
   .main__projects-title--icon::before,
   .main__contacts-title--icon::before {
      width: 28px;
      height: 28px;
   }

   .main__contacts-form--icon-user::after,
   .main__contacts-form--icon-email::after,
   .main__contacts-form--icon-msg::after {
      width: 18px;
      height: 18px;
      top: 45px;
      left: 6px;
   }
}