.navigation__list {
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
   background-color: #ffffff;

   .active {
      color: #003f84;
   }
}

.navigation__list li {
   border-bottom: 1px solid #dbdbdb;

   &:last-child {
      border-bottom: 0;
   }
}

.navigation__list a {
   color: #0055b1;
}

.navigation__btn {
   position: absolute;
   top: 0;
   right: 20px;
   z-index: 10;
   width: 40px;
   height: 40px;
   padding: 0;
   border: none;
   background-color: transparent;

   &::before,
   &::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 50%;
      width: 20px;
      height: 2px;
      margin-left: -10px;
      background-color: #000000;
      transform: rotate(-45deg);
   }

   &::after {
      transform: rotate(45deg);
   }
}

.navigation__btn--closed {
   top: auto;
   bottom: -47px;

   &::before {
      top: 10px;
      transform: rotate(0deg);
      background-color: #ffffff;
   }

   &::after {
      top: 26px;
      background-color: #ffffff;
      box-shadow: 0 -8px 0 0 #ffffff;
      transform: rotate(0deg);
   }
}

.navigation__btn--closed + .navigation__list {
   display: none;
}