.main__home {
   background-image: url("../images/background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.home-text-hello {
   font-size: 5rem;
}

.home-text-name,
.home-text-dev {
   font-size: 1.7rem;
}

.wrapper,
.main__home,
.main__contacts {
   height: 100%;
   min-height: 100%;
}