.main__content {
   background-image: url("../images/background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.main__content-text {
   font-size: 40px;
}
