.main__home {
   height: 578px;
   background-image: url("../images/background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.home-text-hello {
   font-size: 5rem;
}

.home-text-name,
.home-text-dev {
   font-size: 1.7rem;
}
